/* Webfont: PowerGrotesk-Light */@font-face {
    font-family: 'PowerGroteskLight';
    src: url('PowerGrotesk-Light.woff2') format('woff2'), /* Modern Browsers */
         url('PowerGrotesk-Light.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

