/* Webfont: PowerGrotesk-UltraBold */@font-face {
    font-family: 'PowerGroteskUltBd';
    src: url('PowerGrotesk-UltraBold.woff2') format('woff2'), /* Modern Browsers */
         url('PowerGrotesk-UltraBold.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

