/* Webfont: PowerGrotesk-BoldItalic */@font-face {
    font-family: 'PowerGroteskIta';
    src: url('PowerGrotesk-BoldItalic.eot'); /* IE9 Compat Modes */
    src: url('PowerGrotesk-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('PowerGrotesk-BoldItalic.woff') format('woff'), /* Modern Browsers */
         url('PowerGrotesk-BoldItalic.woff2') format('woff2'), /* Modern Browsers */
         url('PowerGrotesk-BoldItalic.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: italic;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

