/* Webfont: PowerGrotesk-Regular */@font-face {
    font-family: 'PowerGrotesk';
    src: url('PowerGrotesk-Regular.woff2') format('woff2'), /* Modern Browsers */
         url('PowerGrotesk-Regular.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

