/* Webfont: PowerGrotesk-Heavy */@font-face {
    font-family: 'PowerGroteskHeavy';
    src: url('PowerGrotesk-Heavy.woff2') format('woff2'), /* Modern Browsers */
         url('PowerGrotesk-Heavy.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

