/* Webfont: PowerGrotesk-UltraLight */@font-face {
    font-family: 'PowerGroteskUltLt';
    src: url('PowerGrotesk-UltraLight.woff2') format('woff2'), /* Modern Browsers */
         url('PowerGrotesk-UltraLight.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

