/* Webfont: PowerGrotesk-HeavyItalic */@font-face {
    font-family: 'PowerGroteskHeavyIta';
    src: url('PowerGrotesk-HeavyItalic.woff2') format('woff2'), /* Modern Browsers */
         url('PowerGrotesk-HeavyItalic.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

